@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 100;
    src: url(../../font/poppins/Poppins-Thin.woff) format(woff);
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 200;
    src: url(../../font/poppins/Poppins-ExtraLight.woff) format(woff);
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 300;
    src: url(../../font/poppins/Poppins-Light.woff) format(woff);
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    src: url(../../font/poppins/Poppins-Regular.woff) format(woff);
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 500;
    src: url(../../font/poppins/Poppins-Medium.woff) format(woff);
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 600;
    src: url(../../font/poppins/Poppins-SemiBold.woff) format(woff);
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 700;
    src: url(../../font/poppins/Poppins-Bold.woff) format(woff);
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 800;
    src: url(../../font/poppins/Poppins-ExtraBold.woff) format(woff);
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 900;
    src: url(../../font/poppins/Poppins-Black.woff) format(woff);
}